$bg-white:white;
$bg-primary:#0d6efd;
$color-lm-for-hover: rgba(13, 110, 253,0.8);
$color-buy-for-hover: rgb(13, 110, 253);
$text-color-white: white;
$text-color-blue:#0d6efd;
$Arial-font: Arial;
$padding-for-lm-btn: 12px;
$padding-for-buy-btn: 11px;
$width-lm-btn:130px;
$width-buy-btn:80px;
$border-radius:24px;
$border-none:none;
$border-color:#0d6efd;
$transition-btn:all 0.5s;
