@import "variables";

body {
    background-color: $bg-white;
}

button {
    font-family: $Arial-font;
    border-radius: $border-radius;
    transition: $transition-btn;
}

#btn-learnMore {
    background-color: $bg-primary;
    color: $text-color-white;
    padding: $padding-for-lm-btn;
    border: $border-none;
    width: $width-lm-btn;

    &:hover {
        background-color: $color-lm-for-hover;
    }

}



#btn-buy {
    color: $text-color-blue;
    padding: $padding-for-buy-btn;
    border-color: $bg-primary;
    width: $width-buy-btn;

    &:hover {
        background-color: $color-buy-for-hover;
        color: $text-color-white;
    }
}