@import "variables";

body {
    background-color: $bg-body;
}

button {
    font-family: $Arial-font;
    border-radius: $border-radius;
    transition: $transition-btn;
}

#btn-learnMore {
    background-color: $main-color;
    color: $text-color-white;
    padding: $padding-for-lm-btn;
    border: $border-none;
    width: $width-lm-btn;

}

#btn-learnMore:hover {
    background-color: $color-lm-for-hover;
}

#btn-buy {
    color: $text-color-blue;
    padding: $padding-for-buy-btn;
    border-color: $main-color;
    width: $width-buy-btn;
}

#btn-buy:hover {
    background-color: $color-buy-for-hover;
    color: $text-color-white;
}